<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuestros servicios</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header class="content header">
    <h1 class="title">Sobre Nosotros</h1>
    <div class="btn-home">
    </div>
  </header>

  <div style="background-color: #1c351d ;">
    <h2 style="color: white; text-align: center;">Mis Servicios</h2><br><br>
    <div class="row">
        <div class="col text-center">
            <i class="fas fa-calendar-alt fa-3x" style="color: white; display: block; margin: 0 auto;"></i>
            <h3 style="color: black"><strong>Reserva de canchas</strong></h3><br>
            <p style="color: white;">Registrare y realiza la reserva de canchas de fútbol de manera rápida y sencilla, reserva y juega.</p>
            <button type="button" class="btn btn-light">
                <a href="Canchas" style="color: #4e935c; text-decoration: none;">Acceder</a>
            </button>
        </div>
        <div class="col text-center">
            <i class="fas fa-user-plus fa-3x" style="color: white; display: block; margin: 0 auto;"></i>
            <h3 style="color: black"><strong>Darse de alta como árbitro</strong></h3><br>
            <p style="color: white;">Regístrate como árbitro y forma parte de Footcap7 para arbitrar los partidos y cobrar.</p>
            <button type="button" class="btn btn-light">
                <a href="registro-Arbitro" style="color: #4e935c; text-decoration: none;">Acceder</a>
            </button>
        </div>
        <div class="col text-center">
            <i class="fas fa-headset fa-3x" style="color: white; display: block; margin: 0 auto;"></i>
            <h3 style="color: black"><strong>Atención personalizada</strong></h3><br>
            <p style="color: white;">En Footcap7 tendras una atención personalizada y asesoramiento personalizado las 24 horas.</p>
            <button type="button" class="btn btn-light">
                <a href="Contacto" style="color: #4e935c; text-decoration: none;">Acceder</a>
            </button>
        </div>
        <div class="col text-center">
            <i class="fas fa-users fa-3x" style="color: white; display: block; margin: 0 auto;"></i>
            <h3 style="color: black"><strong>Contratación de árbitro</strong></h3><br>
            <p style="color: white;">Contrata nuestros servicios de árbitro para que arbitre tus partidos con un clic en tu reserva.</p>

        </div>
    </div>
</div>
<div style="background-color: #484848;">
    <div class="row">
        <div class="col-md-3">
            <!-- Bloque de texto izquierdo -->
            <h3 style="color: rgb(0, 0, 0); font-weight: bold;">Por qué elegir nuestros servicios</h3><br><br>
            <p style="color: white; font-size: 20px; text-align: justify;">
                En Footcap7 ofrecemos una experiencia única en reserva de canchas de fútbol. Aquí tienes algunas razones para elegirnos:
                <br>
                <br>
                - Amplia variedad de canchas disponibles para todos los gustos y necesidades.
                <br><br>
                - Reservas rápidas y sencillas, sin complicaciones.
                <br><br>
                - Flexibilidad horaria para adaptarnos a tu agenda.
                <br><br>
                - Instalaciones de calidad que garantizan un juego óptimo.
                <br><br>
                - Precios competitivos y accesibles para que puedas disfrutar del fútbol sin preocupaciones.
            </p>
        </div>
        <div class="col-md-6 text-center"><br>
            <!-- Imagen en el centro -->
            <!-- <img src="{{ asset('Fotos/Footcap_15.jpg') }}" style="max-height: 80vh; max-width: 100%;"> -->
            <img src="assets/Image/Servicio/Servicios1.jpg" style="max-height: 80vh; max-width: 100%;">
        </div>
        <div class="col-md-3">
            <!-- Bloque de texto derecho -->
            <h3 style="color: rgb(0, 0, 0);  font-weight: bold;">Características de nuestro servicio</h3><br><br>
            <p style="color: white; font-size: 20px; text-align: justify;">
                Nuestro servicio de reserva de canchas se destaca por:
                <br>
                <br>
                - Disponibilidad de reservas todos los días de la semana.
                <br><br>
                - Posibilidad de reservar con anticipación para asegurar tu espacio.
                <br><br>
                - Selección de canchas de diferentes lugares de Málaga.
                <br><br>
                - Ofrecimiento de servicios adicionales como alquiler de equipos y balones de fútbol.
                <br><br>
                - Atención al cliente personalizada, brindándote el apoyo que necesitas en todo momento.
            </p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
