<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar datos</title>
</head>
<body>

  <br>
  <br>
  <br>
  <br>
  <div class="container mt-4">
    <h2 style="text-align: center;">Editar disponibilidad/Experiencias</h2><br>
    <h2 style="text-align: center;">Árbitro: {{ arbitroName }} {{ arbitroSurname }}</h2>
    <form [formGroup]="formEditArbitro" (ngSubmit)="procesar()">
      <div class="mb-5 form-check">
        <label for="experiences" class="form-label">Experiencias</label>
        <textarea id="experiences" name="experiences" formControlName="experiences" class="form-control" placeholder="Escribe tus Experiencias como arbitro y tus habilidades"></textarea>
      </div>
      <div class="mb-5 form-check">
        <label for="disponibilidad" class="form-label">Diponibilidad</label>
        <select id="disponibilidad" class="form-control" name="disponibilidad" formControlName="disponibilidad" required>
          <option value="Todos los dias">Todos los dias</option>
          <option value="Turno tarde">Por las Tarde</option>
          <option value="Fines de semana">Fines de semanas</option>
          <option value="Total">Total</option>
        </select>
        <div *ngIf="formEditArbitro.get('disponibilidad')?.touched && formEditArbitro.get('disponibilidad')?.errors?.['required']" class="alert">Este campo es requerido</div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="formEditArbitro.invalid">Guardar</button>
    </form>
  </div>
</body>
</html>
